body, html {
    margin: 0;
    padding: 0;  
    font-family: 'Roboto', sans-serif;
}

/* HEADER */

.banniere {
background-image: url('../img/banniere.webp');
width: 100%;
height: 400px;
display: flex;
justify-content: space-around;
}
.panel {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    padding-right: 10px;
    margin-top: 20px;
    margin-right: 10px;
    
}
.banniere i {
    margin-right: 20px;
    margin-top: 20px;
}
a {
    text-decoration: none;
    color: black;
}
.connect {
    font-size: 24px;
}
.account {
    background-color: rgba(83, 83, 83, 0.2);
    border-radius: 5px;
    text-align: center;    
}
.connect:hover{
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
 
}
.account:hover{
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
     
}
h1 img {
    margin-top: 20px;
    margin-left: 20px;
}
.header {
    position: absolute;
    text-align: center;
    top: 350px;    
    width: 80%;    
    height: 50px;
    left: 10%;
    right: 10%;
    background-color: white;
    padding-top: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.vl {
    width: 5%;    
    border-top: 2px solid #F4C51B; 
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.test  {
    position: absolute;
    text-align: center;
    top: 265px;    
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 20px;    
}
.test  li {
    list-style: none;   
}
.test  li a {
    font-size: 36px;
    margin-left: 30px;    
}
.test  li a:hover {
    text-decoration: none;
    color: white;  
}
.navbarp a:hover {
    text-decoration: none;
    background-size: 100% 5px, auto;
    color: tomato;
}
.navbarp a {
    background-image: linear-gradient(#F4C51B, #F4C51B), linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
    background-size: 0 5px, auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: all .2s ease-out;
    
}

/* PAGE 1 */
.center{
    margin-top: 100px;
    width: 80%;
    margin-left: auto;
    margin-right: auto; 

}
.center a img{    
    margin-left: auto;
    margin-right: auto;    
}
.center a:hover{    
      text-align: center; 
}
h2 {
    text-align: center;
    margin-bottom: 0px;
      margin-top: 0px;
      font-size: 34px;
}
.vl2 {
    width: 5%;    
    border-top: 2px solid #F4C51B; 
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.vl3 {
    width: 5%;    
    border-top: 2px solid #F4C51B; 
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.title {
    margin-top: 100px;
}
.card {
    height:300px;
    width: 300px;
    background: #FFFFFF;
    border: 0.5px solid #F4C51B;
    box-sizing: border-box;
    box-shadow: 0px 0px 15px #F4C51B;
    text-align: center;
    padding-top: 50px;
    margin-left: 30px;
    margin-top: 50px;
}
.card p {
    font-size: 64px;
}
.allcard {
    display: flex;
    justify-content: center;
    align-items: center;
}
.ss{
    font-size: 24px;
    margin-left: 100px;
    margin-top: 50px;
    text-decoration: tomato underline;
}
footer {
    background-color: black;
    color: white;
    height: 200px;
    margin-top: 50px;    
}
footer .allcol{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.colfooter {
    display: flex;
    flex-direction: column;
    
}
.colfooter a {
    color: white;
    font-size: 18px !important;
}
.colfooter a:hover {
    color:  #F4C51B;
    text-decoration: none;
}
footer h3 {
    margin-top: 20px;
    text-decoration: underline;
}
.parallax-window{
    height:30vh;
    background:transparent;
    margin-top: 50px;
   
}
.navbarp {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    background-color: white;
    height: 70px;
    box-shadow: 0px 0px 15px rgb(61, 61, 61);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 36px;
    font-weight: 300;
   
}
.logo_nav {
    height: 50px;
}
.red {
    color: red;
    font-weight: 300;
    text-align: center;
    margin-bottom: 100px;
    font-size: 24px;
}
.news {
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    padding-top: 50px;
    
}
.news_p {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    margin-top: 50px;
    margin-bottom: 50px;
}
/* .parallax-window p {
    z-index: 999;
    background:transparent;
    text-align: center;
    color: red;
} */
.modal fieldset {
    width: 50%;
    text-align: center;
    margin-bottom: 15px;
    margin-right: auto;
    margin-left: auto;
    padding: 10 10 10 10;
    border-width: 0px;
}

/* woullah c dur*/
  
@media screen and (min-width: 989px) and (max-width: 1150px) {

    .navbarp {
        visibility: hidden !important;
    }
    .nav-toggle {
        visibility: visible !important;
    }
}
@media screen and (min-width: 426px) and (max-width: 988px){
    .navbarp {
        visibility: hidden !important;
    }
    .nav-toggle {
        visibility: visible !important;
    }
    .allcard {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .banniere{
        width: 100%;  
    }
    .banniere i {
        position: absolute;
        right: 0;
        }
    .panel {
            visibility: hidden;
        }
}
@media screen and (min-width: 321px) and (max-width: 425px) {
    .navbarp {
        visibility: hidden !important;
    }
    .nav-toggle {
        visibility: visible !important;
    }
    .panel {
        visibility: hidden;
    }
    .banniere{
        width: 100%;  
    }
    .banniere i {
    position: absolute;
    right: 0;
    }
    h1 img {
        margin-top: 20px;
        margin-left: 20px;
        height: 40px;
    }
    .test {
        visibility: hidden;
    }
    .header {
        top: 351px;
        height: 50px;
    }
    .news {
        font-size: 24px;
    }
    
    .red {
        font-size: 12px;
    }
    .allcard {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (min-width: 200px) and (max-width: 425px) {
    .navbarp {
        visibility: hidden !important;
    }
    .nav-toggle {
        visibility: visible !important;
    }
    .panel {
        visibility: hidden;
    }
    .banniere{
        width: 110%; 
    }
    .banniere i {
    position: absolute;
    right: 0;
    }
    .allcard {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    h1 img {
        margin-top: 20px;
        margin-left: 20px;
        height:33px;;
    }
    .test {
        visibility: hidden;
    }
    .header {
        top: 351px;
        height: 50px;
    }
    .news {
        font-size: 24px; 
    }
    .red {
        font-size: 12px;
    }
}